# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# SQLite DB
db.sqlite3

# Environment variables
.env

# Django specific
*.log
*.pot
*.pyc
*.mo
*.swp
*.sqlite3

# VSCode or PyCharm
.vscode/
.idea/
